@charset "utf-8";

body {
  text-align: center;
  color: whitesmoke;
  margin: 0;
  background-color: rgb(224, 224, 224);
}

header {
  background: url(../img−5/slider_img.jpg) no-repeat;
  width: 100%;
  height: 600px;
  text-align: left;
  position: relative;
}

.gyoen {
  font-size: 40px;
  position: absolute;
  top: 10px;
  left: 100px;
}

.about {
  position: absolute;
  top: 450px;
  left: 130px;
}

.yoga {
  position: absolute;
  right: 100px;
  top: 500px;
}

.title {
  font-size: 50px;
}
.title, .subtitle {
  position: relative;
  top: 200px;
  left: 200px;
}

.menu {
  display: inline-block;
  width: 270px;
  height: 200px;
  background-color: rgb(223, 142, 182);
  position: absolute;
  right: 250px;
  top: 0;
}
.menu ul {
  margin: 30px 80px 50px;
}
.menu a {
  text-decoration: none;
  color: whitesmoke;
  margin: 5px 0;
}

.main {
  width: 1000px;
  height: 400px;
  text-align: left;
  color: black;
  background-color: white;
  margin: 0 auto;
}

.main a {
  text-decoration: none;
}

.main .button a {
  color: white;
}

.yajirusi, .yajirusi1 {
  position: relative;
  left: 450px;
  top: 50px;
}

.main_a, .botan, .main_b{
  position: relative;
  left: 50px;
  top: 100px;
}

.main_b {
  font-size: 13px;
}

.button{
  position: relative;
  line-height:30px;
}
.button a{
  background:#FF5CCF;
  text-align:center;
  color:#FFFFFF;
  box-shadow:3px 5px 0px 0px #DE00D8 ;
}
.button a:hover{
  background:#FF5CC5;
  margin-left:3px;
  margin-top:5px;
  box-shadow:none;
}

.main .button a {
  position: absolute;
  top: 100px;
  left: 50px;
}

.sub {
  background: url(../img−5/feature_bg.png) no-repeat;
  width: 100%;
  height: 600px;
}

.sub1, .sub2, .sub3{
  display: inline-block;
  width: 350px;
  margin: 50px 20px;
}

.corse, .sub1, .sub2, .sub3 {
  position: relative;
  top: 100px;
}

.sub1 a, .sub2 a, .sub3 a {
  position: absolute;
  left: 130px;
  text-decoration: none;
  color: white;
}

.sucalp {
  margin: 100px 0;
}

.sucalp h1 {
  color: gray;
}

.program1, .program2, .program3, .program4, .program5, .program6 {
  display: inline-block;
  width: 400px;
}

.sucalp h2, .sucalp p {
  padding: 0;
  margin: 0;
  width: 300px;
  background-color: #FF5CCF;
  position: relative;
  bottom: 30px;
  left: 50px;
}

section {
  width: 100%;
  height: 650px;
  background: url(../img−5/coaches_bg.jpg)no-repeat;
}

.maru {
  background: -webkit-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  line-height: 130px;
  font-size: 20px;
}

.maru1 {
  background: -webkit-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 20px;
}

.maru2 {
  background: -webkit-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  line-height: 180px;
  font-size: 20px;
}

section {
  width: 100%;
  position: relative;
}

section img, section div {
  display: inline-block;
}

.buruburu {
  width: 1000px;
}

.maru {
  position: absolute;
  top: 80px;
  left: 100px;
}
.gazou1 {
  position: absolute;
  top: 80px;
  left: 250px;
}
.gazou2 {
  position: absolute;
  top: 30px;
  left: 480px;
}
.gazou3 {
  position: absolute;
  top: 110px;
  right: 450px;
}
.gazou4 {
  position: absolute;
  top: 100px;
  right: 230px;
}
.maru1 {
  position: absolute;
  top: 110px;
  right: 110px;
}

.gazou5 {
  position: absolute;
  bottom: 250px;
  left: 130px;
}
.gazou6 {
  position: absolute;
  bottom: 130px;
  left: 300px;
}
.gazou7 {
  position: absolute;
  bottom: 150px;
  left: 530px;
}
.gazou8{
  position: absolute;
  bottom: 120px;
  right: 290px;
}
.maru2 {
  position: absolute;
  bottom: 180px;
  right: 480px;
}
.gazou9 {
  position: absolute;
  bottom: 190px;
  right: 80px;
}
.gazou10 {
  position: absolute;
  bottom: 40px;
  left: 100px;
}

.buruburu :hover{
  -webkit-animation:buruburu 0.3s infinite linear alternate;
  animation:buruburu 0.3s infinite linear alternate;
}

@-webkit-keyframes buruburu {
  0% {-webkit-transform:translateY(0);}
  50% {-webkit-transform:translateY(-2px);}
  100% {-webkit-transform:translateY(0);}
}

@keyframes buruburu {
  0% {transform:translateY(0);}
  50% {transform:translateY(2px);}
  100% {transform:translateY(0);}
}

.footer_width {
  position: relative;
  padding-top: 100px;
  background: -webkit-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_sample, .footer_link, .footer_contact {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  height: 600px;
}

.footer_sample {
  width: 360px;
  margin: 0px 80px;
  color: black;
}
.footer_link {
  margin-right: 100px;
}
.footer_link a {
  text-decoration: none;
  color: whitesmoke;
}
.footer_link li {
  margin: 5px 0;
}

.bacground_white {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 680px;
  height: 450px;
}

.footer_width img {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 3;
}