<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>3カラム応用</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrap">
    <header class="header">ロゴ画像</header>
    <main class="main">
      <div class="left-center clear">
      <div class="left">
        <a href="">item1</a><br>
        <a href="">item2</a><br>
        <a href="">item3</a><br>
        <a href="">item4</a><br>
        <a href="">item5</a><br>
        <a href="">item6</a><br>
        <a href="">item7</a><br>
        <a href="">item8</a><br>
        <a href="">item9</a><br>
        <a href="">item10</a>
      </div>
      <div class="center">
        <div class="top bg-red">
          <p>・テキストテキストテキストテキスト</p>
          <p>・テキストテキストテキストテキスト</p>
          <p>・テキストテキストテキストテキスト</p>
          <p>・テキストテキストテキストテキスト</p>
        </div>
        <div class="center1 bg-blue">サブタイトル
          <p>product1 product2 product3 product4</p>
        </div>
        <div class="under bg-yellow">サブタイトル
            <p>product1 product2 product3 product4</p>
          </div>
      </div>
    </div>
    </main>
    <main class="right">バナー画像</main>
    <footer class="footer">フッター</footer>
  </div>
</body>
</html>