.header {
  text-align: left;
  margin-left: 200px;
}

.nav p {
  font-size: 20px;
  margin-left: 180px;
  margin-bottom: 100px;
}

.nav ul {
  list-style-type: none;
  margin-right: 200px;
  text-align: right;
}

.nav li {
  display: inline-block;
  padding-left: 10px;
}

.slide-1 {
  margin: 0 auto;
}

.slide-1 img {
  width: 100%;
  height: 800px;
}

.text {
  padding: 80px 10px;
  text-align: center;
}

.text ul li {
  width: 49%;
  height: 80px;
  text-align: left;
  display: inline-block;
}

.picture {
  text-align: center;
}

.img-1, .img-2 {
  width: calc(100% 1/2);
  height: 400px;
}

.navi li {
  display: inline;
  padding-left: 10px;
}

.footer, .navi {
  text-align: center;
}