.body {
  width: 1366px;
}

p {
  font-size: 20px;
}

div {
  margin-left: 150px;
}

.header {
  text-align: left;
}

ul {
  list-style-type: none;
  text-align: right;
}

li {
  display: inline;
  padding-left: 10px;
}

.img {
  width: 1366px;
  height: 600px;
}

.text p{
  display: inline-block;
  width: 500px;
}

.picture　{
  float: left;
  margin: 0 auto;
}

.img-1 {
  height: 400px;
  width: 500px;
}

.navi {
  margin: 0 auto;
}

.footer {
  text-align: center;
}