.body {
  max-width: 1440px;
}

.side {
  color: white;
  text-align: center;
  float: left;
  width: 20%;
  height: 3000px;
  background: rgb(47, 47, 148);
}

.menu b {
  font-size: 30px;
}

.menu {
  width: 100px;
  height: 100px;
  line-height: 50px;
  text-align: left;
  margin: 0 auto;
}

.menu :last-child{
  color: yellow;
}

.header-top {
  padding-left: 25%;
}

.header p {
  width: 80%;
  height: 200px;
  line-height: 30px;
}

.main1 {
  float: left;
  width: 80%;
}

.img1 {
  width: 80%;
}

.img2 {
  padding: 30px;
  width: 50px;
  height: 50px;
}

.sub {
  float: left;
  width: 550px;
  height: 600px;
  line-height: 40px;
  padding-left: 20px;
}

.sub b {
  font-size: 30px
}

.sub2 {
  width: 550px;
  height: 40px;
  line-height: 40px;
}

.button {
  display: inline-block;
  padding: 10px 50px;
  background: rgb(47, 47, 148);
  color: white;
}

.img3 {
  width: 30%;
  height: 400px;
  float: left;
  padding-left: 50px;
}

.gallery1, .gallery2, .gallery3{
  width: 100%;
}

b {
  width: 80%;
  font-size: 30px;
  padding-left:50px;
}

.img4, .img9, .img12 {
  padding-left: 50px;
}

.img4, .img5, .img6, .img7, .img8 {
  width: calc(100% 1/5);
  height: 200px;
}

.img9, .img10, .img11 {
  width: 335px;
  height: 200px;
}

.img12, .img13, .img14, .img15 {
  width: 250px;
  height: 200px;
}

.form {
  padding-left: 25%;
  width: 80%;
  color: aqua;
}

.form b{
  font-size: 20px;
}

.send {
  width: 60px;
  height: 50px;
  background: skyblue;
  position: relative;
  right: 265px;
  top: 130px;
}

.form-side {
  width: 300px;
  line-height: 40px;
  position: relative;
  left: 350px;
  bottom: 280px;
}

.footer {
width: 80%;
  text-align: center;
}

.span {
  color: skyblue;
}