.body {
  max-width: 1440px;
}

b, h1 {
  color: rgb(3, 104, 145);
}

.side {
  color: white;
  float: left;
  width: 20%;
  height: 3300px;
  background: rgb(47, 47, 148);
}

.side b {
  color: white;
  font-size: 30px;
  padding: 85px;
}

.menu {
  width: 100px;
  height: 100px;
  line-height: 60px;
  text-align: left;
  padding-top: 50px;
  margin: 0 auto;
}

.menu :last-child {
  color: yellow;
}

.header-top {
  padding-left: 25%;
}

.header p {
  width: 800px;
  height: 200px;
  line-height: 30px;
  padding: 10px;
}

.main1 {
  float: left;
  width: 80%;
}

.img1 {
  width: 80%;
}

.img2 {
  width: 50px;
  height: 50px;
  position: relative;
  left: 100px;
  top: 10px;
}

.sub {
  float: left;
  width: 550px;
  height: 600px;
  line-height: 40px;
  padding-left: 20px;
}

.sub b {
  font-size: 30px
}

.sub2 {
  width: 550px;
  height: 40px;
  line-height: 40px;
}

.button {
  display: inline-block;
  padding: 10px 50px;
  background: rgb(47, 47, 148);
  color: white;
}

.img3 {
  width: 300px;
  height: 400px;
  float: left;
  padding-left: 50px;
}

.gallery1, .gallery2, .gallery3{
  width: 100%;
  padding: 50px;
}

b {
  width: 80%;
  font-size: 30px;
  padding-left:50px;
}

.img4, .img9, .img12 {
  padding-left: 50px;
}

.img4, .img5, .img6, .img7, .img8 {
  width: calc(100% 1/5);
  height: 200px;
}

.img9, .img10, .img11 {
  width: 335px;
  height: 200px;
}

.img12, .img13, .img14, .img15 {
  width: 250px;
  height: 200px;
}

.form {
  padding-left: 50px;
  display: flex;
}

.form p {
  line-height: 40px;
  width: 300px;
}

textarea {
  border-color: rgba(2, 177, 177, 0.986);
}

textarea::placeholder {
  color: rgba(2, 177, 177, 0.986);
}

.send {
  width: 60px;
  height: 50px;
  background: skyblue;
  position: relative;
  right: 265px;
  top: 130px;
}

.footer {
  clear: both;
  text-align: center;
}

.span {
  color: skyblue;
}